$primaryColor:cadetblue;
$whiteColor:#ffffff;
$blackColor:#6666;
@mixin button(
  $backGroundcolor:$whiteColor
  ,$borderColor:$primaryColor,
  $textColor:$primaryColor){
  font-weight: 700;
  background-color: $backGroundcolor;
  border-color: $borderColor;
  border: 2px dotted;
  border-radius: 5px;
  min-width: 100px;
  padding: 10px;
  color :$textColor;
  &:hover{
    cursor: pointer;
  }
}

.negativeButton{
  @include button
}
